.b{
    color: #4E47FF;
   /* width: 1140px;*/
   /* height: 151px;*/
   font-size: 20px;
   font-weight: 700;
}
.a{
    height: 520px;
    width: auto;
    /*display: flex;
    justify-content: space-between;*/
    /*max-width: 1440px;*/
    margin: auto;
   /*margin: 45px 150px 158px 150px;*/
   font-family: Arial, Helvetica, sans-serif;
   background-image: url("../Assets/Hero-bg.png");
}
.top{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 0px 110px 190px 110px;
}
.c{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    padding: 10px 15px;
}
.title{
    font-size: 70px;
    color: #252432;
    text-align: center;
    margin: 130px 0 25px 0;
}
.staybtn{
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 6px;
    border: none;
    /*margin: 30px 200px 200px 200px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.action{
    display: flex;
    height: 141px;
    /*width: 814px;*/
    margin: 160px 160px 160px 160px;
    justify-content: space-between;
    align-items: center;

}
.ac{
    height:328px;
    width: 403px;
    border-radius:36px;
}
.wc{
    color:#252432;
}
.bal{
    display: flex;
    justify-content: space-around;
    
}
.xx{
    color:#4E47FF;
    width: 162px;
    height: 97px;
    font-size:42px;
}
.xx1{
    color: #000000;
    font-size: 14px;
}
.th{
    background-color: #b7b5e9;
    margin: 80px 120px 80px 120px;
    height: 206px;
    width: 1140px;
    padding: 80px 80px;
    align-items: center;
    border-radius: 29px;

}
.x31{
    color: #252432;
    text-align: center;
}
.op{
    display: flex;
    justify-content: space-between;
    margin: 80px 330px 60px 330px;
    align-items: center;
}
.op1{
    height:232px;
    width: 528px;
    font-size: 72px;
}
.fm{
    font-size: 35px;
    /*width: 125px;
    height: 12px;*/
}
.mz{
    text-align: center;
    margin: 25px 185px 35px 185px;
}
.mst{
    display: flex;
    justify-content: space-around;
    gap: 16px;}
.os{
    text-decoration: none;
    color: #1E1E1E;
}
.lg{
    color: #4E47FF;
    font-size: 5em;
}
